*,
body {
    margin: 0;
    padding: 0;
}

header {
    display: block;
    background-color: #E7EBDA;
    width: 100%;
}

header h1 {
    text-transform: uppercase;
    text-align: left;
    width: 30%;
    display: inline-block;
}

header nav {
    text-align: right;
    display: inline-block;
    width: 68%;
}

header ul {
    display: inline-block;
    list-style-type: none;
    margin: 0.5em auto;
    text-align: center;
}

header ul li {
    display: inline-block;
}

header ul li a {
    text-decoration: none;
    border: solid;
    border-color: #7D8471;
    border-radius: 50px;
    background-color: #7D8471;
    color: white;
    padding: 0.3em;
}

header ul li a:hover {
    background-color: #B8B799;
    border-color: #B8B799;
}

header ul li a:active {
    padding: 0.2em;
}

section {
    width: 100%;
    height: 685px;
}

footer {
    display: block;
    background-color: #E7EBDA;
    width: 100%;
    height: 40px;
}

footer h3 {
    text-align: center;
}

.menu_izquierda {
    width: 30%;
    height: 685px;
    background-color: aqua;
    position: relative;
}

.menu_izquierda .uno {
    background-color: black;
    height: 152px;
    position: absolute;
    width: 95%;
    margin: 7px;
}

.menu_izquierda .dos {
    background-color: red;
    height: 152px;
    position: absolute;
    width: 95%;
    margin: 7px;
    top: 163px;
}

.menu_izquierda .tres {
    background-color: black;
    height: 152px;
    position: absolute;
    width: 95%;
    margin: 7px;
    top: 327px;
}
.menu_izquierda .cuatro {
    background-color: black;
    height: 152px;
    position: absolute;
    width: 95%;
    margin: 7px;
    top: 490px;
}
.derecha {    
    left: 30%;
    width: 70%;
    height: 685px;
    background-color: yellow;
    position: relative;
    bottom: 100%;
}